@use "../../sass-utils/colors";
@use "../../sass-utils/fonts";
.button {
    padding: 2px 8px;
    @include fonts.small;
    color: white;
    background-color: colors.$success;
    border-radius: 4px;
    .spinner {
        padding: 0 12px;
        svg {
            width: 24px;
            height: 24px;
        }
        .spinner-line {
            stroke: white;
        }
    }
}

.button.secondary {
    background-color: colors.$black-a08;
    border: 1px solid colors.$black-a12;
    color: colors.$black-a60;
}

button:disabled {
    background-color: colors.$black-a08;
    color: colors.$black-a12;
    cursor: unset;
}
