@use "../../sass-utils/colors";
@use "../../sass-utils/fonts";
.input-field {
    margin: 8px 0;

    .field {
        background-color: colors.$black-a08;
        border: 1px solid transparent;
        border-radius: 8px;
        display: flex;
        align-items: baseline;
        &.focused {
            outline: 2px solid colors.$success;
        }
        &.error {
            border: 1px solid colors.$error;
        }
        &.error.focused {
            outline: 2px solid colors.$error;
        }
    }

    label {
        padding-bottom: 6px;
        display: block;
        @include fonts.xsmall;
        color: colors.$black-a60;
        &.hidden {
            display: none;
        }
    }
    input {
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 6px 12px;
        @include fonts.xsmall;
        &:focus {
            outline: none;
        }
    }
    .prefix,
    .suffix {
        @include fonts.xsmall;
        color: colors.$black-a60;
    }
    .prefix {
        padding-left: 12px;
    }
    .suffix {
        padding-right: 12px;
    }

    .hint {
        @include fonts.xsmall;
        padding-top: 6px;
        color: colors.$black-a60;
        &.error {
            color: colors.$error;
        }
    }
}
