@use "../sass-utils/fonts";
@use "../sass-utils/colors";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
    font-family: "Roboto", sans-serif;
    background-color: colors.$softsand;
}

.container {
    width: 900px;
    margin: 40px auto;
}

h1 {
    @include fonts.h1;
    margin: 16px 0;
}

.day-calories-container {
    display: flex;
    justify-content: space-between;
    .meals-wrapper {
        width: calc(100% - 300px - 24px);
    }
    .total-calories-wrapper {
        width: 300px;
    }
}
